header{ color: green;
    font-family: Arial, Helvetica, sans-serif;


}
h1{
    margin-bottom: 20px;
}

h2{
    color: green;
    margin-bottom: 10px;

}






.main-text{ font-size:20px ;
    color: rgba(46, 44, 209, 0.623);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-bottom: 20px;

}
.container{

    width: 1000px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.author-box{
    border-top: grey 1px solid;
    padding-top: 10px;
    
    
    

}
 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
.blog-post{
    
    width: 75%; 
    float: left;
    padding-right: 30px;
    position: relative;
}
.other-posts{
    
    width: 25%;
    float: left;
    
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.others{
    margin-bottom: 20px;
    
}
.author-box img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}
.author-text{
    font-size: 22px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    
}
.date{position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
    margin-top: 20px;

}

    